 @import url('https://fonts.googleapis.com/css?family=Montserrat');

 body {
    font-family:'Montserrat', sans-serif;
    overflow-x: hidden;
 }

* {
    box-sizing: border-box;
 }

li a {
   text-decoration:  none;
   color: white;
}

a {
    color: #2f3b4c;
}

 nav ul {
     list-style-type: none;
     padding: 0;
 }

 nav li {
     padding: 8px;
     margin-left: 8px;
     background-color: darkslateblue;
     color: #ffffff;
     border-radius: 3px;
     text-align: center;
     transition: .3s;
 }

  nav li:hover {
     background-color: slateblue;
     cursor: pointer;
 }

 article {
     text-align: justify;
 }

 aside {
     background-color: white;
     padding: 15px;
     color: #2f3b4c;
     text-align: center;
     font-size: 14px;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
     box-shadow: 2px 2px 5px gray;
 }

 footer {
     background-color: darkslateblue;
     color: white;
     text-align: center;
     font-size: 12px;
     padding: 5px;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     text-align: center;
     width: 100%;
 }

 .row::after {
     content: "";
     clear: both;
     display: table;
 }

 .navbar-expand-md {
    display: flex!important;
    justify-content: space-around;
    flex-basis: auto;
}

 .gates-photo {
    max-width:70%;height:auto;
}

 [class*="col-"] {
     width: 100%;
     padding: 20px;
}


 @media only screen and (min-width: 640px) {

     .col-s-1 {
         width: 8.33%;
     }

     .col-s-2 {
         width: 16.66%;
     }

     .col-s-3 {
         width: 25%;
     }

     .col-s-4 {
         width: 33.33%;
     }

     .col-s-5 {
         width: 41.66%;
     }

     .col-s-6 {
         width: 50%;
     }

     .col-s-7 {
         width: 58.33%;
     }

     .col-s-8 {
         width: 66.66%;
     }

     .col-s-9 {
         width: 75%;
     }

     .col-s-10 {
         width: 83.33%;
     }

     .col-s-11 {
         width: 91.66%;
     }

     .col-s-12 {
         width: 100%;
     }
    
 }

 @media only screen and (min-width: 768px) {

     .col-1 {
         width: 8.33%;
     }

     .col-2 {
         width: 16.66%;
     }

     .col-3 {
         width: 25%;
     }

     .col-4 {
         width: 33.33%;
     }

     .col-5 {
         width: 41.66%;
     }

     .col-6 {
         width: 50%;
     }

     .col-7 {
         width: 58.33%;
     }

     .col-8 {
         width: 66.66%;
     }

     .col-9 {
         width: 75%;
     }

     .col-10 {
         width: 83.33%;
     }

     .col-11 {
         width: 91.66%;
     }

     .col-12 {
         width: 100%;
     }

 }

